<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body> heyy <%= name %>
    <h1>logout</h1>
    <main>
        <form action="/logout" method="get">
            
            <input type="submit" value="logout">
        </form>
    </main>   
</body>

<script src="script.js"></script>
</html>